<div class="container">
    <div class="row search-box">
        <div class="col-sm-8 col-sm-offset-0 col-md-5 col-md-offset-2" id="prizeDataTable">
        </div>
        <div class="col-sm-4  col-md-3 hidden-xs">
            <div class="panel panel-primary winners-panel">
                <div class="panel-heading">
                    <strong><i class="fa fa-star"></i>
                        Prizes Won
                    </strong>

                    <strong class=" label label-default numWinners">0</strong>
                </div>
                <div class="panel-body text-center text-muted noWinners">
                    No Winners <i class="fa fa-frown-o"></i>
                </div>

                <ul class="list-group winningNumbers"></ul>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/dist/react-monopoly-game-filter.js"></script>