.search-box {
    margin-top: -73px;
}

.hero.jumbotron {
    background-position: center bottom;
    background-size: cover;
    background-image: url('/img/hero-background.jpg');
    min-height: 180px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.hero.jumbotron, .hero.jumbotron h2, .hero.jumbotron h3 {
    color: white;
}

/** Bootstrap overrides */
.table {
    width: 100% !important;
}

.navbar {
    margin-bottom: 0px !important;
}
